.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.wrapper {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

@media (max-width: 920px) {
  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
