.teams {
  display: grid;
  grid-template-columns: repeat(auto-fill, 186px);
  column-gap: 32px;
  row-gap: 12px;
  min-width: 392px;
  max-width: 442px;
}
.teams > div {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.name {
  font-size: 15px;
  white-space: nowrap;
}
.position {
  font-size: 14px;
  color: var(--caption-color);
}

@media (max-width: 920px) {
  .teams {
    max-width: 100%;
    min-width: 0;
  }

  .name {
    font-size: 16px;
  }
  .position {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .teams {
    column-gap: 50px;
  }
}

@media (min-width: 920px) {
  .teams {
    column-gap: 24px;
  }
}
