.container {
  background: var(--body-color);
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
}
.content {
  display: flex;
  justify-content: space-between;
}

.address {
  font-style: normal;
}

.mail {
  color: var(--blue-150);
}

.mail:hover {
  color: var(--blue-300);
}

.footerLeft {
  max-width: 300px;
}
.footerRight {
  text-align: right;
}

@media (max-width: 920px) {
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
  }

  .footerRight {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
  }
  .footerLeft {
    max-width: 340px;
  }
  .copyright {
    max-width: 218px;
    font-size: 14px;
  }
  .address {
    font-size: 16px;
  }
}
